/* You can add global styles to this file, and also import other style files */
body , html{
    height:calc(100%-4em) ;
}
body{
    background-color: black;
    color: white;
    font-family: 'Hina Mincho', serif;
    display: grid;
    align-items: center;
    text-align: center;
    padding: 2em;
}